@import url(./components/styles/root.css);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--body-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  display: grid;
  margin: auto;
  width: calc(18*(var(--element-size) + 2px));
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}

.element {
  border: 1px solid var(--element-color);
  color: var(--element-color);
  background: var(--element-bg);
  width: var(--element-size);
  height: var(--element-size);
  font-size: xx-small;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  font-size: .5rem;
  padding: 0 5px 0 5px;
  cursor: pointer;
  user-select: none;
}
.element>*{
  display: block;
}
.element>.symbol {
  width: 100%;
  height: calc(var(--element-size));
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  transition: all .5s;
}

.element:hover>.symbol {
  width: auto;
  height: auto;
  font-size: .9rem;

}

.panelMain {
  display: none;
  background: #00000034;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 1s;
}

.panelMain.active {
  display: block;
}